body,p,ol,ul,dd,dt,h1,h2{
  margin:0;
  padding:0;
}
ul,li,ol{
    list-style-type:none;
}

a{
 text-decoration:none;
 color:black;
}
.clear{
    clear:both;
}
/**/
#header{
  width:1200px;
/*  min-height:30px;*/
  margin:0 auto;
  /*border:1px solid red;*/
}
#section{
     width:1200px;
     margin:0 auto;
    /*min-height:30px;*/
 }
 #footer{
     width:100%;
/*     margin:0 auto;*/
 }